{% extends 'base.html' %}

{% block header %}
<link rel="stylesheet" type="text/css" href="../../static/css/normalize.css"/>
<link rel="stylesheet" type="text/css" href="../../static/css/default.css">
<link rel="stylesheet" type="text/css" href="../../static/css/styles.css">
<style type="text/css">
    .additional-text li {
        padding: 5px;
    }

    .additional-text img {
        width: 20%;
        margin-left: 10px;
    }
</style>
{% endblock %}

{% block content %}
<div class="main">
    <div class="sidebar-real">
        <div data-page="1" class="nav-elem nav-1 active"></div>
        <div data-page="2" class="nav-elem nav-2"></div>
        <div data-page="3" class="nav-elem nav-3"></div>
        <div data-page="4" class="nav-elem nav-4"></div>
        <div data-page="5" class="nav-elem nav-5"></div>
    </div>
    <div class="sections">
        <div class="section section-1">
            <div class="content">
                <div class="bg-part"></div>
                <div class="bg-part"></div>
                <div class="bg-part"></div>
                <div class="bg-part"></div>
                <div class="bg-part"></div>
                <div class="bg-part"></div>
                <div class="bg-part"></div>
                <div class="bg-part"></div>
                <h2 class="section-heading">服务内容</h2>
                <div class="additional-text">
                    <ul>
                        <li>承接各类开发任务（python、shell、 java、网页设计、网站开发、Android APP开发、
                            <br/>小程序、公众号（服务号、订阅号、企业号)）。
                        </li>
                        <li>承接作业代写、毕业设计代做（开发相关）等任务，总之，你需要人帮忙开发，就可以
                            <br/>跟本站讨论需求。
                        </li>
                        <li>帮忙解决Bug、帮忙给有知识点疑惑的同学解疑。</li>
                        <li>提供教学服务（网络、编程语言、数据库、云计算、爬虫...），有需要找长期教学的伙伴，
                            </br>可以加qq详聊，讨论需求以定制详细的课程计划。
                        </li>
                        <li>提供openstack、kvm、docker、mapreducer、spark等云计算、大数据技术相关的
                            <br/>环境部署、问题定位、问题解决、知识学习等服务。
                        </li>
                        <li>提供Linux教学、Linux问题解决服务。</li>
                        <li>承接简历指导、转行疑惑、如何开始学习一门技术、如何找对口工作之类的咨询服务。</li>
                        <li>承接视频剪辑、视频拍摄、人物写真、图片编辑等拍摄和后期任务。</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="section section-2">
            <div class="content">
                <div class="bg-part"></div>
                <div class="bg-part"></div>
                <div class="bg-part"></div>
                <div class="bg-part"></div>
                <div class="bg-part"></div>
                <div class="bg-part"></div>
                <div class="bg-part"></div>
                <div class="bg-part"></div>
                <h2 class="section-heading">洽谈方式</h2>
                <div class="additional-text">
                    <ul>
                        <li>请明确的知道你需要什么，带上你的问题和需求来找我哦！</li>
                        <li>如果你是生活、工作、学习分开的同学，可以加qq:502250351撩。</li>
                        <li>如果你不介意这些，也可以加微信:HyHarden5813。</li>
                        <li>不想打字的同学，可以扫二维码。</li>
                    </ul>
                    <div>
                        <img src="../../static/img/weixin.png" alt="微信二维码" class="img-thumbnail">
                        <img src="../../static/img/qq.png" alt="qq二维码" class="img-thumbnail">
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-3">
            <div class="content">
                <div class="bg-part"></div>
                <div class="bg-part"></div>
                <div class="bg-part"></div>
                <div class="bg-part"></div>
                <div class="bg-part"></div>
                <div class="bg-part"></div>
                <div class="bg-part"></div>
                <div class="bg-part"></div>
                <h2 class="section-heading">价格&&付款方式</h2>
                <div class="additional-text">
                    <ul>
                        <li>不同类型、需求的任务对应的价格不同，这里没法统一描述。但是保证价格绝对亲民。</li>
                        <li>如果你是个比较谨慎的人，可以走微店。微信小程序搜索微店，然后店铺搜索代码艺术即可。</li>
                        <li>如果你嫌麻烦，或者是跟我合作过，有信任基础，可以走支付宝或者微信。</li>
                        <li>走支付宝或者微信，需项目谈好的时候付一半定金，项目验收完再付剩下一半定金</li>
                        <li>微店，支付宝，微信的二维码如下（转账麻烦备注下项目内容或者你的QQ号微信号）:</li>
                    </ul>
                    <div>
                        <img src="../../static/img/weidian.png" alt="微店二维码" class="img-thumbnail">
                        <img src="../../static/img/weixinzhifu.png" alt="微信二维码" class="img-thumbnail">
                        <img src="../../static/img/zhifubao.png" alt="支付宝二维码" class="img-thumbnail">
                    </div>
                </div>
            </div>
        </div>

        <div class="section section-4">
            <div class="content">
                <div class="bg-part"></div>
                <div class="bg-part"></div>
                <div class="bg-part"></div>
                <div class="bg-part"></div>
                <div class="bg-part"></div>
                <div class="bg-part"></div>
                <div class="bg-part"></div>
                <div class="bg-part"></div>
                <h2 class="section-heading">验收方式&&责任评定</h2>
                <div class="additional-text">
                    <ul>
                        <li>工作室以视频录制的方式，将作品发给客户验收。</li>
                        <li>客户以teamviewer或者qq远程连接工作室的电脑，远程操控验收。</li>
                        <li>双方按照商定好的内容进行开发。开发中途不许加需求，如果因为需求
                            </br>变更，导致工作量增加，需另外加钱。</li>
                        <li>工作室未在指定时间内完成任务，必须全额退款给客户。</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="section section-5">
            <div class="content">
                <div class="bg-part"></div>
                <div class="bg-part"></div>
                <div class="bg-part"></div>
                <div class="bg-part"></div>
                <div class="bg-part"></div>
                <div class="bg-part"></div>
                <div class="bg-part"></div>
                <div class="bg-part"></div>
                <h2 class="section-heading">工作室宗旨&&售后服务</h2>
                <div class="additional-text">
                    <ul>
                        <li>工作室以诚为本，绝不干任何昧良心的活。</li>
                        <li>工作室的资源下载、索取无论是现在还是将来，都是免费无密码下载，绝不套路。</li>
                        <li>工作室出售的东西，完结的项目，如果验收后发现有疑虑的，工作室绝不推脱。</li>
                        <li>通过公众号，微信、qq都可以联系工作室，看到后绝对秒回</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>
<h5 class="scroll-down"></h5>
</div>
{% endblock %}

{% block bottom %}
<script src='../../static/js/stopExecutionOnTimeout.js?t=1'></script>
<script type="text/javascript" src="../../static/js/main.js"></script>
{% endblock %}